/* The modal (background) */
.modal {
    display: flex;
    height: 80vh;
    width: 80vw;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: #F4F4F4;
    border: 1px solid gray;
    border-radius: 25px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

/* Close button */
.closeButton {
    position: absolute;
    top: 18px;
    right: 20px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
    color: black;
    background-color: #E6E6E6;
}
.closeButton:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.dropdowns {
    margin-top: 20px;
}

.dropdowns label {
    display: block;
    margin-bottom: 5px;
}

.step {
    position: relative;
    min-height: 1em;
    color: white;
}

.title {
    /* font-size: 5rem; */
    line-height: 1.5em;
    font-weight: bold;
    color: black;
}

.caption {
    margin-top: 10px;
    font-size: 0.8em;
    color: black;
}

.inputbox {
    color: black;
    border-radius: 20px;
    margin-bottom: 10px;
}

.step+.step {
    margin-top: 1.5em
}

.step>div:first-child {
    position: static;
    height: 0;
}

.step>div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1em;
}

/* Circle */
.circle {
    background: #4AA182;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 100%;
    color: white;
    text-align: center;
    /* box-shadow: 0 0 0 3px #fff; */
}

/* Vertical Line */
.circle:after {
    content: ' ';
    position: absolute;
    display: block;
    top: 1px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 100%;
    width: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: #4AA182;
    z-index: -1;
}

.step:last-child .circle:after {
    display: none
}

.step.step-active {
    color: #4285f4
}

.step.step-active .circle {
    background-color: #4285f4;
}

.createButton {
    width: 40%;
    height: 45px;
    border-radius: 25px;
    background-color: white;
    color: black;
    margin-top: 15px;
    margin-left: 40px;
}

.createButton:hover {
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.addButton {
    width: 15%;
    height: 32px;
    /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); */
    border-radius: 30px;
    border: 1.5px solid #4AA182;
    color: #4AA182;
    margin-top: 5px;
}

.addButton:hover {
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.addButtonDisabled {
    width: 15%;
    height: 35px;
    /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); */
    border-radius: 30px;
    border: 1.5px solid #727c79;
    color: #4AA182;
    margin-top: 5px;
}

.iconDisplay {
    gap: 20px;
    padding: 3px;
    width: 50px;
    height: 50px;
    /* border: 1px solid white; */
    border-radius: 50%;
    overflow: hidden;
}

.iconDisplay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.iconDisplay:active {
    border: 1px solid #4AA182;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in;
}

.circularIcon {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.circularIconHighlight {

    border: 3px solid #4AA182;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease-in-out;
}

.tierDescription {
    /* max-width: 80vw; */
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.tierTitle {
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 5px;
}

.tierContent {
    font-size: 0.8rem;
    font-style: italic;
}

.deleteTier {
    margin-left: 10px;
    margin-right: 10px;
    color: #4AA182;
    font-size: 1rem;
    font-weight: 700;
    width: 25px;
    height: 25px;
    align-items: center;
    border-radius: 20px;
    /* border: 1px solid #4AA182; */
}